@font-face {
  font-family: "cdywIFTimeLine"; /* Project id 3901749 */
  src: url('iconfont.woff2?t=1676620073511') format('woff2'),
       url('iconfont.woff?t=1676620073511') format('woff'),
       url('iconfont.ttf?t=1676620073511') format('truetype');
}

.cdywIFTimeLine {
  font-family: "cdywIFTimeLine" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeline-shang:before {
  content: "\e61a";
}

.icon-timeline-baocun:before {
  content: "\e632";
}

.icon-timeline-baocun1:before {
  content: "\e641";
}

.icon-timeline-24gf-stop:before {
  content: "\ea89";
}

.icon-timeline-cunchu:before {
  content: "\e744";
}

.icon-timeline-rili2:before {
  content: "\e753";
}

.icon-timeline-bofang1:before {
  content: "\e755";
}

.icon-timeline-zanting1:before {
  content: "\e756";
}

.icon-timeline-zuobian:before {
  content: "\e757";
}

.icon-timeline-youbian:before {
  content: "\e758";
}

