/* 变量定义*/
.time-line[theme="default"]{
  /*======主题背景颜色=======*/
  --theme-bg: #033F3BCC;
  --theme-bg-deep: #014945FF;
  --theme-bg-active: #2CE0D5FF;
  --theme-bg-hover-color: #07857DCC;
  --theme-bg-alter: #F37900FF;
  --theme-bg-80: #fff;

  /*======主题边框=======*/
  --theme-border: 1px solid #C1FFFBFF;

  /*======主题字体颜色=======*/
  --text-color: #E1FFFDFF;
  --text-color-active: #FFF;
  --text-color-alter: #F37900FF;

  --icon-color-fff: #FFFFFF;


  --text-tick-color: #07857DCC;
  --text-now-dot-color: orangered;

  /*======工具栏颜色=======*/
  --tool-bg: var(--theme-bg);
  --tool-bg-active: var(--theme-bg-active);
  --tool-text-color: var(--text-color);
  --tool-text-color-active: #C1FFFBFF;

  --jelly-style-bg: var(--theme-bg);

  /*=======button=========*/
  --buttn-live-active: #F37900FF;

  /*======指针颜色=======*/
  --pointer-color: red;

  /*======动画区间颜色======*/
  --animation-boundary-color: var(--text-color-alter);
  --animation-bar-color: rgba(179, 179, 179, 0.6);
  --animation-loading-color: rgba(96,230,117,0.8);

  /*===============*/
  --dropdown-bg-color: rgba(0, 0, 0, 0.5);
}
